.header {
    align-items: center;
    width: 100%;
    height: 4rem;
    display: flex;
    padding-left: 3rem;
    padding-right: 2rem;
}

.toggleTheme {
    justify-content: flex-end;
}

.homeButton {
    justify-content: flex-start;
}

.mainContent {
    margin-top: 2rem;
    width: 100%;
}

.search {
    justify-content: flex-start;
    margin-left: 1rem;
}

.filter {
    justify-content: flex-end;
    margin-right: 1rem;
}
